.example-card{
    width: 95%;
    margin: 20px auto;
}
.card-header{
    height: 80px;
    background: #9595ff;
  }
ul{
    list-style: none;    
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
  }
li{
    display: inline;
    padding: 20px;
}
a{
    text-decoration: none;
}
.nav-item{
    color: #640b88;
    font-size: 20px;
    cursor: pointer;
}